.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #0263a300;
}

.buttons button {
    font-size: 18px;

    font-family: "neue-haas-unica", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: auto;
    border: none;
    background-color: #ffffff00;
    color: #0085a3;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .buttons button {
        font-size: 15px;
    }
}