html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(123, 4, 32, 0.6), rgba(4, 84, 113, 0.7137254902), rgba(2, 98, 163, 0.6941176471));
  background-size: cover;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bokeh {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 111, 142, 0.4823529412), rgba(142, 0, 14, 0.4823529412));
  overflow: hidden;
  filter: blur(150px);
}

.bokeh div {
  position: absolute;
  border-radius: 1%;
  animation-name: bokeh;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.bokeh div:nth-child(1) {
  width: 40.4593852757rem;
  height: 40.4593852757rem;
  top: 58%;
  left: 52%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 23.9;
  box-shadow: 40.5593852757rem 0 0.6636366824rem currentColor;
  filter: brightness(210%);
  transform-origin: -7rem -6rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(2) {
  width: 40.6603574699rem;
  height: 40.6603574699rem;
  top: 34%;
  left: 84%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 27.8;
  box-shadow: 40.7603574699rem 0 0.8221805617rem currentColor;
  filter: brightness(231%);
  transform-origin: -6rem 13rem;
  animation-duration: 20s;
}
.bokeh div:nth-child(3) {
  width: 40.2199348122rem;
  height: 40.2199348122rem;
  top: 30%;
  left: 85%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 29.45;
  box-shadow: 40.3199348122rem 0 0.9733623473rem currentColor;
  filter: brightness(136%);
  transform-origin: 14rem -8rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(4) {
  width: 40.0633794533rem;
  height: 40.0633794533rem;
  top: 15%;
  left: 58%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 21.5;
  box-shadow: 40.1633794533rem 0 0.6993343109rem currentColor;
  filter: brightness(162%);
  transform-origin: -16rem 14rem;
  animation-duration: 21s;
}
.bokeh div:nth-child(5) {
  width: 40.2465991298rem;
  height: 40.2465991298rem;
  top: 87%;
  left: 40%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 29.45;
  box-shadow: 40.3465991298rem 0 0.1733203724rem currentColor;
  filter: brightness(219%);
  transform-origin: -6rem -7rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(6) {
  width: 40.655468283rem;
  height: 40.655468283rem;
  top: 98%;
  left: 10%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 27.2;
  box-shadow: 40.755468283rem 0 0.6934112533rem currentColor;
  filter: brightness(102%);
  transform-origin: 13rem -15rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(7) {
  width: 40.8839272924rem;
  height: 40.8839272924rem;
  top: 85%;
  left: 46%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 26;
  box-shadow: 40.9839272924rem 0 0.9559298542rem currentColor;
  filter: brightness(176%);
  transform-origin: -11rem -8rem;
  animation-duration: 19s;
}
.bokeh div:nth-child(8) {
  width: 40.2041908043rem;
  height: 40.2041908043rem;
  top: 14%;
  left: 4%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 24.35;
  box-shadow: 40.3041908043rem 0 0.8344561435rem currentColor;
  filter: brightness(161%);
  transform-origin: -12rem -10rem;
  animation-duration: 26s;
}
.bokeh div:nth-child(9) {
  width: 40.6036725434rem;
  height: 40.6036725434rem;
  top: 41%;
  left: 68%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 30.35;
  box-shadow: 40.7036725434rem 0 0.1344285092rem currentColor;
  filter: brightness(121%);
  transform-origin: -3rem 9rem;
  animation-duration: 24s;
}
.bokeh div:nth-child(10) {
  width: 40.1043867186rem;
  height: 40.1043867186rem;
  top: 40%;
  left: 41%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 25.7;
  box-shadow: 40.2043867186rem 0 0.9283537896rem currentColor;
  filter: brightness(179%);
  transform-origin: -4rem -10rem;
  animation-duration: 22s;
}
.bokeh div:nth-child(11) {
  width: 40.4917350129rem;
  height: 40.4917350129rem;
  top: 70%;
  left: 84%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 26.15;
  box-shadow: 40.5917350129rem 0 1.0248558758rem currentColor;
  filter: brightness(220%);
  transform-origin: -17rem -1rem;
  animation-duration: 23s;
}
.bokeh div:nth-child(12) {
  width: 40.5494629234rem;
  height: 40.5494629234rem;
  top: 48%;
  left: 35%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 31.1;
  box-shadow: 40.6494629234rem 0 0.7088124251rem currentColor;
  filter: brightness(199%);
  transform-origin: -18rem -2rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(13) {
  width: 40.0669062209rem;
  height: 40.0669062209rem;
  top: 80%;
  left: 38%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 29.15;
  box-shadow: 40.1669062209rem 0 0.1092226542rem currentColor;
  filter: brightness(128%);
  transform-origin: 2rem 18rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(14) {
  width: 40.4642756361rem;
  height: 40.4642756361rem;
  top: 19%;
  left: 55%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 24.65;
  box-shadow: 40.5642756361rem 0 0.6765916498rem currentColor;
  filter: brightness(179%);
  transform-origin: -17rem -17rem;
  animation-duration: 17s;
}
.bokeh div:nth-child(15) {
  width: 40.8709001177rem;
  height: 40.8709001177rem;
  top: 37%;
  left: 11%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 30.95;
  box-shadow: 40.9709001177rem 0 1.045253632rem currentColor;
  filter: brightness(210%);
  transform-origin: -1rem -2rem;
  animation-duration: 19s;
}
.bokeh div:nth-child(16) {
  width: 40.4702573765rem;
  height: 40.4702573765rem;
  top: 90%;
  left: 46%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 23.6;
  box-shadow: 40.5702573765rem 0 0.5174317485rem currentColor;
  filter: brightness(239%);
  transform-origin: -16rem 3rem;
  animation-duration: 20s;
}
.bokeh div:nth-child(17) {
  width: 40.5296220587rem;
  height: 40.5296220587rem;
  top: 4%;
  left: 8%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 27.65;
  box-shadow: 40.6296220587rem 0 0.6638926783rem currentColor;
  filter: brightness(106%);
  transform-origin: 0rem 9rem;
  animation-duration: 20s;
}
.bokeh div:nth-child(18) {
  width: 40.8111043428rem;
  height: 40.8111043428rem;
  top: 87%;
  left: 13%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 29.6;
  box-shadow: 40.9111043428rem 0 0.9366662979rem currentColor;
  filter: brightness(217%);
  transform-origin: -17rem -18rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(19) {
  width: 40.8668601131rem;
  height: 40.8668601131rem;
  top: 54%;
  left: 24%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 22.4;
  box-shadow: 40.9668601131rem 0 0.6734337316rem currentColor;
  filter: brightness(119%);
  transform-origin: 11rem 5rem;
  animation-duration: 24s;
}
.bokeh div:nth-child(20) {
  width: 40.2599672204rem;
  height: 40.2599672204rem;
  top: 12%;
  left: 6%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 28.85;
  box-shadow: 40.3599672204rem 0 0.2430860241rem currentColor;
  filter: brightness(240%);
  transform-origin: 5rem 10rem;
  animation-duration: 21s;
}
.bokeh div:nth-child(21) {
  width: 40.0376969277rem;
  height: 40.0376969277rem;
  top: 5%;
  left: 87%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 29.3;
  box-shadow: 40.1376969277rem 0 0.1018883164rem currentColor;
  filter: brightness(244%);
  transform-origin: 17rem -11rem;
  animation-duration: 20s;
}
.bokeh div:nth-child(22) {
  width: 40.2430330251rem;
  height: 40.2430330251rem;
  top: 15%;
  left: 96%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 31.85;
  box-shadow: 40.3430330251rem 0 0.3560394323rem currentColor;
  filter: brightness(237%);
  transform-origin: 8rem 15rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(23) {
  width: 40.4968594247rem;
  height: 40.4968594247rem;
  top: 83%;
  left: 41%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 21.2;
  box-shadow: 40.5968594247rem 0 0.6288858417rem currentColor;
  filter: brightness(131%);
  transform-origin: 7rem 8rem;
  animation-duration: 21s;
}
.bokeh div:nth-child(24) {
  width: 40.3526613958rem;
  height: 40.3526613958rem;
  top: 80%;
  left: 36%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 32;
  box-shadow: 40.4526613958rem 0 0.7105147889rem currentColor;
  filter: brightness(215%);
  transform-origin: -3rem -3rem;
  animation-duration: 25s;
}
.bokeh div:nth-child(25) {
  width: 40.0354620554rem;
  height: 40.0354620554rem;
  top: 15%;
  left: 77%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 24.8;
  box-shadow: 40.1354620554rem 0 0.2720887526rem currentColor;
  filter: brightness(106%);
  transform-origin: 6rem -6rem;
  animation-duration: 24s;
}
.bokeh div:nth-child(26) {
  width: 40.1884626642rem;
  height: 40.1884626642rem;
  top: 94%;
  left: 89%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 24.5;
  box-shadow: 40.2884626642rem 0 0.1447416441rem currentColor;
  filter: brightness(110%);
  transform-origin: -17rem 15rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(27) {
  width: 40.323177312rem;
  height: 40.323177312rem;
  top: 26%;
  left: 41%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 29.15;
  box-shadow: 40.423177312rem 0 0.8930000993rem currentColor;
  filter: brightness(122%);
  transform-origin: -7rem -8rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(28) {
  width: 40.6031757296rem;
  height: 40.6031757296rem;
  top: 19%;
  left: 4%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 31.85;
  box-shadow: 40.7031757296rem 0 0.1372524958rem currentColor;
  filter: brightness(181%);
  transform-origin: -7rem 6rem;
  animation-duration: 23s;
}
.bokeh div:nth-child(29) {
  width: 40.2000791701rem;
  height: 40.2000791701rem;
  top: 41%;
  left: 17%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 22.1;
  box-shadow: 40.3000791701rem 0 1.0298256175rem currentColor;
  filter: brightness(191%);
  transform-origin: 12rem -2rem;
  animation-duration: 22s;
}
.bokeh div:nth-child(30) {
  width: 40.0663374536rem;
  height: 40.0663374536rem;
  top: 45%;
  left: 99%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 27.2;
  box-shadow: 40.1663374536rem 0 0.6104953596rem currentColor;
  filter: brightness(126%);
  transform-origin: 8rem 6rem;
  animation-duration: 26s;
}
.bokeh div:nth-child(31) {
  width: 40.2333060855rem;
  height: 40.2333060855rem;
  top: 70%;
  left: 64%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 21.35;
  box-shadow: 40.3333060855rem 0 0.3987823164rem currentColor;
  filter: brightness(197%);
  transform-origin: -11rem 16rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(32) {
  width: 40.3123291069rem;
  height: 40.3123291069rem;
  top: 32%;
  left: 54%;
  color: rgba(3, 97, 164, 0.537254902);
  opacity: 20.45;
  box-shadow: 40.4123291069rem 0 0.1652423171rem currentColor;
  filter: brightness(115%);
  transform-origin: -6rem -18rem;
  animation-duration: 26s;
}
.bokeh div:nth-child(33) {
  width: 40.0326900631rem;
  height: 40.0326900631rem;
  top: 67%;
  left: 8%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 22.4;
  box-shadow: 40.1326900631rem 0 0.7475123181rem currentColor;
  filter: brightness(191%);
  transform-origin: -16rem -2rem;
  animation-duration: 22s;
}
.bokeh div:nth-child(34) {
  width: 40.98260344rem;
  height: 40.98260344rem;
  top: 8%;
  left: 41%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 22.55;
  box-shadow: 41.08260344rem 0 0.144844433rem currentColor;
  filter: brightness(180%);
  transform-origin: -6rem 20rem;
  animation-duration: 18s;
}
.bokeh div:nth-child(35) {
  width: 40.2933707606rem;
  height: 40.2933707606rem;
  top: 41%;
  left: 23%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 22.4;
  box-shadow: 40.3933707606rem 0 0.739202378rem currentColor;
  filter: brightness(204%);
  transform-origin: -19rem -16rem;
  animation-duration: 24s;
}
.bokeh div:nth-child(36) {
  width: 40.5804036166rem;
  height: 40.5804036166rem;
  top: 59%;
  left: 69%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 21.05;
  box-shadow: 40.6804036166rem 0 0.2134582273rem currentColor;
  filter: brightness(226%);
  transform-origin: -4rem 3rem;
  animation-duration: 25s;
}
.bokeh div:nth-child(37) {
  width: 40.4993288943rem;
  height: 40.4993288943rem;
  top: 83%;
  left: 21%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 26.75;
  box-shadow: 40.5993288943rem 0 0.3334672081rem currentColor;
  filter: brightness(126%);
  transform-origin: -5rem 15rem;
  animation-duration: 20s;
}
.bokeh div:nth-child(38) {
  width: 40.4577158429rem;
  height: 40.4577158429rem;
  top: 37%;
  left: 68%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 20.45;
  box-shadow: 40.5577158429rem 0 0.3727382921rem currentColor;
  filter: brightness(194%);
  transform-origin: 18rem -9rem;
  animation-duration: 19s;
}
.bokeh div:nth-child(39) {
  width: 40.2161133477rem;
  height: 40.2161133477rem;
  top: 35%;
  left: 43%;
  color: rgba(144, 0, 5, 0.5176470588);
  opacity: 28.1;
  box-shadow: 40.3161133477rem 0 0.1971917251rem currentColor;
  filter: brightness(221%);
  transform-origin: 10rem 16rem;
  animation-duration: 19s;
}
.bokeh div:nth-child(40) {
  width: 40.883565063rem;
  height: 40.883565063rem;
  top: 31%;
  left: 5%;
  color: rgba(1, 142, 109, 0.537254902);
  opacity: 20.9;
  box-shadow: 40.983565063rem 0 0.789752694rem currentColor;
  filter: brightness(216%);
  transform-origin: 7rem -5rem;
  animation-duration: 17s;
}

@keyframes bokeh {
  100% {
    transform: rotate(360deg);
  }
}
.welcome-text {
  font-size: 160px;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.subtitle {
  font-size: 35px;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  position: absolute;
  top: 46%;
  left: 50%;
  white-space: nowrap;
  margin-top: 100px;
  transform: translate(-50%, -50%);
  color: white;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 700px;
  width: 400px;
  height: auto;
  opacity: 0.9;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 0px;
  background-color: rgba(2, 99, 163, 0);
}

.buttons button {
  font-size: 40px;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */