html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #7b042099, #045471b6, #0262a3b1);
    background-size: cover;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.bokeh {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #006f8e7b, #8e000e7b);
    overflow: hidden;
    filter: blur(150px);

}



$bokehCount: 40;
$bokehBaseSize: 40rem;
$bokehBaseOpacity: 20;
$bokehBaseBrightness: 100;
$bokehBaseDuration: 16s;
$colorSet: (
    #0361a489,
    #018e6d89,
    #90000584,
);

.bokeh div {
    position: absolute;
    border-radius: 1%;
    animation-name: bokeh;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @for $i from 1 through $bokehCount {
        &:nth-child(#{$i}) {
            $randomizedSize: random()+$bokehBaseSize;
            width: $randomizedSize;
            height: $randomizedSize;
            top: random(100) * 1%;
            left: random(100) * 1%;
            color: nth($colorSet, random(length($colorSet)));
            opacity: $bokehBaseOpacity + random(80) * 0.15;
            box-shadow: ($randomizedSize + .1rem) 0 (0.1rem + random()*1rem) currentColor;
            filter: brightness($bokehBaseBrightness + random(150)*1%);
            transform-origin: (random(40)-20) * 1rem (random(40)-20) * 1rem;
            animation-duration: $bokehBaseDuration + random(10) * 1s;
        }
    }
}

@keyframes bokeh {
    100% {
        transform: rotate(360deg);
    }
}

.welcome-text {
    font-size: 160px;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.subtitle {
    font-size: 35px;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    color: white
}